html {
  height: 100vh;
  width: 100vw;
  background-color: black;
  color: white;
  font-family: Arial;
  margin: 0px;
}

body {
  margin: 0px;
}

.messaggio {
  max-width: 30vw;
  min-width: 250px;
  position: absolute;
  top: 30vh;
  left: 15vw;
  line-height: 25px;
}

.messaggio h1 {
  font-size: 50px;
  line-height: 60px;
  font-family: Tahoma;
  font-weight: 300;
}

.messaggio h2 {
  font-family: Tahoma;
  font-weight: 500;
  font-size: 18px;
}

.messaggio h3 {
  font-family: Tahoma;
  font-weight: 200;
  font-size: 18px;
  opacity: 0.50;
}

.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(img/clessidra.png) center no-repeat black;
}

.sfondo {
  position: absolute;
  max-height: 300px;
  filter: grayscale();
  -webkit-filter: grayscale();
}
